.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .loader {
    width: 70%;

    img {
      width: 10%;
    }
  }
}

.profile-image-loader {
  width: 100px;
  height: 100px;
}
