@import "../../../UI/layout/layout";

.user-list-container {
  max-height: 430px;
  overflow-y: scroll;

  .user-list {
    padding: 0;

    ul {
      @media screen and (max-widht: $small) {
        position: absolute;
        bottom: 0px;
        max-height: 77%;
        overflow: scroll;
      }
    }

    li {
      cursor: pointer;
      &.active {
        background-color: $purple;
      }
      @include flicker(0.8s, green, transparent);
    }

    li:hover {
      background-color: $purple;
    }
  }
}
