.chat-message-board-container {
  max-height: 430px;
  overflow-y: scroll;

  .chat-message-board {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    min-height: 500px;
  }
}
