.message-container {
  overflow-wrap: break-word;
  border-radius: 5px;
  width: 50%;
  height: fit-content;
  background-color: #5d5b8d;
  padding: 0.8rem;
  margin: 0.5rem;

  &.receiver {
    background-color: #a7bcff;
    align-self: flex-end;
  }

  .message-text-container {
    margin-bottom: 0.3rem;
    p {
      white-space: pre-line;
      color: white;
      font-size: 0.8rem;
      margin: 0.3rem 0.3rem;
    }
  }

  .message-date-time-container {
    font-size: 0.7rem;
    color: rgb(224, 220, 220);
    display: flex;
    justify-content: flex-end;
    align-items: center;

    p {
      color: white;
      margin: 0.1rem 0.1rem;
      font-size: 0.6rem;
    }
  }
}
