.avatar-label {
  color: var(--primary);
  display: flex;
  gap: 10px;
  margin-bottom: 5px;
}

.img-preview {
  display: flex;
  align-self: center;
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
}

.avatar-upload-button {
  cursor: pointer;
  background-color: #56528f;
  color: white;
  z-index: 9;

  .upload-avatar-icon {
    cursor: pointer;
  }

  .upload-avatar-label {
    cursor: pointer;
  }
}
