:root {
  --primary: #a7bcff;
}

h1,
h2,
h3,
p {
  color: #5d5b8d;
}

.auth-card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  min-width: 30%;
  background-color: white;
}

.register-link {
  color: -webkit-link;
  text-decoration: underline;
}

.auth-form {
  display: flex;
  min-width: 80%;
  flex-direction: column;
  justify-content: space-between;
}

.auth-subtitle {
  margin-top: 0px;
  margin-bottom: 40px;
  font-weight: 500;
}

.auth-title {
  margin-bottom: 10px;
  font-weight: bold;
}

.auth-button {
  border: none;
  color: white;
  border-radius: 0;
  background-color: #7b96ec;
  padding: 10px 0px;
  font-weight: bold;
}

input {
  background-color: white;
  color: black;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid var(--primary);
  padding: 10px;
}

p {
  font-size: 12px;
  align-self: center;
}

.avatar-label {
  color: var(--primary);
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.img-preview {
  display: flex;
  align-self: center;
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin: 10px;
}
