$very-light-blue: #a7bcff;
$light-blue: #8da4f1;
$blue: #7b96ec;
$purple: #a2a2d9;
$very-light-purple: #ddddf7;
$dark-purple: #3e3c61;
$very-dark-purple: #2f2d52;
$light-purple: #5d5b8d;
$grey: #a5a5a5;
$light-grey: #bebdbd;
$gradient: linear-gradient(to left top, #6277bd, #b5b5e4);

@mixin flicker($intervalTime, $mainColor, $secondaryColor) {
  @keyframes flickerAnimation {
    0% {
      background-color: $mainColor;
    }
    50% {
      background-color: $secondaryColor;
    }
    100% {
      background-color: $mainColor;
    }
  }
  @-o-keyframes flickerAnimation {
    0% {
      background-color: $mainColor;
    }
    50% {
      background-color: $secondaryColor;
    }
    100% {
      background-color: $mainColor;
    }
  }
  @-moz-keyframes flickerAnimation {
    0% {
      background-color: $mainColor;
    }
    50% {
      background-color: $secondaryColor;
    }
    100% {
      background-color: $mainColor;
    }
  }
  @-webkit-keyframes flickerAnimation {
    0% {
      background-color: $mainColor;
    }
    50% {
      background-color: $secondaryColor;
    }
    100% {
      background-color: $mainColor;
    }
  }
  &.new-message {
    -webkit-animation: flickerAnimation $intervalTime infinite;
    -moz-animation: flickerAnimation $intervalTime infinite;
    -o-animation: flickerAnimation $intervalTime infinite;
    animation: flickerAnimation $intervalTime infinite;
  }
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $very-light-blue;
}
