:root {
  font-family: "Times New Roman", Times, serif;
}

$app-font: "Times New Roman", Times, serif;

$very-light-blue: #a7bcff;
$light-blue: #8da4f1;
$blue: #7b96ec;
$purple: #a2a2d9;
$very-light-purple: #ddddf7;
$dark-purple: #3e3c61;
$very-dark-purple: #2f2d52;
$light-purple: #5d5b8d;
$grey: #a5a5a5;
$light-grey: #bebdbd;
$light-grey-red: #bfadad;
$gradient: linear-gradient(to left top, #6277bd, #b5b5e4);

$medium: 560px;
$small: 450px;
$very-small: 365px;

@mixin flicker($intervalTime, $mainColor, $secondaryColor) {
  @keyframes infiniteAnimation {
    0% {
      background-color: $mainColor;
    }
    50% {
      background-color: $secondaryColor;
    }
    100% {
      background-color: $mainColor;
    }
  }
  @-o-keyframes infiniteAnimation {
    0% {
      background-color: $mainColor;
    }
    50% {
      background-color: $secondaryColor;
    }
    100% {
      background-color: $mainColor;
    }
  }
  @-moz-keyframes infiniteAnimation {
    0% {
      background-color: $mainColor;
    }
    50% {
      background-color: $secondaryColor;
    }
    100% {
      background-color: $mainColor;
    }
  }
  @-webkit-keyframes infiniteAnimation {
    0% {
      background-color: $mainColor;
    }
    50% {
      background-color: $secondaryColor;
    }
    100% {
      background-color: $mainColor;
    }
  }
  &.new-message {
    -webkit-animation: infiniteAnimation $intervalTime infinite;
    -moz-animation: infiniteAnimation $intervalTime infinite;
    -o-animation: infiniteAnimation $intervalTime infinite;
    animation: infiniteAnimation $intervalTime infinite;
  }
}

@mixin dancer($intervalTime, $firstPosition, $secondPosition) {
  @keyframes infiniteDancer {
    0% {
      margin-left: $firstPosition;
    }
    50% {
      margin-left: $secondPosition;
    }
    100% {
      margin-left: $firstPosition;
    }
  }
  @-o-keyframes infiniteDancer {
    0% {
      margin-left: $firstPosition;
    }
    50% {
      margin-left: $secondPosition;
    }
    100% {
      margin-left: $firstPosition;
    }
  }
  @-moz-keyframes infiniteDancer {
    0% {
      margin-left: $firstPosition;
    }
    50% {
      margin-left: $secondPosition;
    }
    100% {
      margin-left: $firstPosition;
    }
  }
  @-webkit-keyframes infiniteDancer {
    0% {
      margin-left: $firstPosition;
    }
    50% {
      margin-left: $secondPosition;
    }
    100% {
      margin-left: $firstPosition;
    }
  }
  &.collapse-icon {
    -webkit-animation: infiniteDancer $intervalTime infinite;
    -moz-animation: infiniteDancer $intervalTime infinite;
    -o-animation: infiniteDancer $intervalTime infinite;
    animation: infiniteDancer $intervalTime infinite;
  }
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $very-light-blue;
}
