@import "../../UI/layout/layout";

.chat-card {
  border: 1px solid white;
  border-radius: 10px;
  width: 85%;
  min-width: 300px;
  max-width: 600px;
  max-height: 800px;
  overflow: hidden;
}

.users-container {
  min-width: 100px;
  background-color: $dark-purple;
}

.chat-container {
  width: 100%;
  background-color: $very-light-purple;
}
