.chat-card {
  border: 1px solid white;
  border-radius: 10px;
  width: 85%;
  min-width: 300px;
  max-width: 600px;
  max-height: 800px;
  overflow: hidden;
}

.users-container {
  background-color: #3e3c61;
}

.chat-container {
  width: 100%;
  background-color: #ddddf7;
}
