.chat-card {
  border: 1px solid white;
  border-radius: 10px;
  width: 85%;
  min-width: 400px;
  max-width: 650px;
  max-height: 32.5rem;
  overflow: hidden;
}

.upload-icon {
  transform: rotate(30deg);
}

.users-container {
  background-color: #3e3c61;
}

.search-input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #a5a5a5;
}

.chat-container {
  width: 100%;
  background-color: #ddddf7;
}

.list-item {
  list-style-type: none;
  color: white;
}
