.chat-card {
  border: 1px solid white;
  border-radius: 10px;
  width: 85%;
  min-width: 400px;
  max-width: 800px;
  overflow: hidden;
}

.upload-icon {
  transform: rotate(30deg);
}

.user-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 200px;
  flex-wrap: wrap;
  background-color: #2f2d52;
  border: none;
  padding: 10px;
  color: white;
}

.chat-container {
  width: 100%;
  background-color: #ddddf7;
}

.users-container {
  background-color: #3e3c61;
}

.chat-message-board {
  display: flex;
  justify-content: flex-end;
  min-height: 500px;
}

.chat-footer {
  display: flex;
  align-items: center;
  background-color: white;
}

.search-input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #a5a5a5;
}

/* .search-input-container {
} */
.logout-button {
  cursor: pointer;
  background: #5d5b8d;
  color: #ddddf7;
  border: none;
}

.list-item {
  list-style-type: none;
  color: white;
}

.seperator {
  width: 15px;
  background-color: rgb(244, 244, 244);
}

.right-seperator {
  width: 10px;
}

.chat-header {
  height: 80px;
  background-color: #5d5b8d;
}

.input-box {
  border: none;
}

.input-box::placeholder {
  color: rgb(190, 189, 189);
}

.input-box:focus {
  outline: none;
}

.file-upload {
  border: none;
}

.chat-input {
  width: 87%;
}

.send-button-container {
  background-color: #8da4f1;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.send-button-container {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.send-icon {
  transform: rotate(140deg);
}

.user-img {
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.user-img-container h3 {
  color: white;
}

.user-img-container input {
  margin-bottom: 10px;
  max-width: 180px;
}

.user-img-container {
  gap: 5px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-image {
  flex-direction: column;
}

.email-container h3 {
  margin: 0px;
}
