@import "../../../UI/layout/layout";

.chat-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $gradient;

  .input-box {
    height: 40px;
    width: 60%;
    border: none;
    padding-left: 5px;
    padding-top: 5px;
    font-family: $app-font;
  }

  .input-box::placeholder {
    color: $light-grey;
    font-family: $app-font;
  }

  .input-box:focus {
    outline: none;
  }

  .send-button {
    display: flex;
    color: white;
    border: none;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    background-color: $light-blue;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;

    .send-icon {
      transform: rotate(140deg);
    }

    &:disabled {
      background-color: $light-grey-red;
      cursor: not-allowed;
    }
  }

  .select-user-container {
    @media screen and (max-width: $small) {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
    h3 {
      margin: 5px;
      color: $light-purple;
      @media screen and (max-width: $small) {
        font-size: 1.1rem;
        max-width: 14rem;
      }
    }
  }
}
