.chat-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: linear-gradient(to left top, #6277bd, #b5b5e4);

  .writing-gif-container {
    align-self: flex-start;
    margin-top: 10px;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  h3 {
    color: white;
  }

  .logged-in-icon-container {
    margin-right: 5px;
  }
}
